//Equilab project
.container{
  padding-left: 150px;
  margin-top: 60px;
  width: auto;
}
@media screen and (max-width: 750px){
  .container{
    padding-left: 120px;
    margin-top: 60px;
    width: auto;
  }
}

.rowsPadding{
  padding: 20px;
  color:grey;
}
select{
  border: 0px;
  height: 30px;
  font-size: 16px;
  margin-left: 15px;
  margin-top: 15px;
  color: grey;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px;
}

//funkar ej waaaaat
.mat-ripple{
  background-color: #ED6C44 !important;
}
.mat-tab-label{
  background-color: #ED6C44 !important;
}
.mat-card{

}
label{
  background-color: green;
}
