<title>Equilab | My Stable</title>

<div class="container">
  <div class="wrapper">

    <div id="page-wrapper" [@slideToLeft]="'true'">
      <h1> My Stable Page </h1>
      <div style="display: block" *ngFor="let horse of myPonnys; let i = index">
        <h4 [attr.data-target]="'#'+i" data-toggle="collapse" class="rowsPadding">{{horse?.name}}</h4>
        <div class="collapse" [attr.id]="i" style="">


          <div *ngIf="i>0"> NO DATA TO SHOW AT THIS TIME</div>
          <div style="display: inline;"> Date <p style="display: inline;"
                                                 *ngFor="let training of horse?.trainingsData;">{{ training?.date |
            date:'MMM d EEEE' }}</p></div>
          <div><p style="display: inline;">Surface</p>
            <p style="display: inline;" *ngFor="let training of horse?.trainingsData;">
              {{training?.ground}}</p></div>
          <div><p style="display: inline;">Total Time</p>
            <p style="display: inline;" *ngFor="let training of horse?.trainingsData;">{{training?.total.time |
              secondsToTime}}</p></div>
          <div><p style="display: inline;">Total Distance</p>
            <p style="display: inline;" *ngFor="let training of horse?.trainingsData;">
              {{training?.total.distance | distance}}</p></div>
          <div><p style="display: inline;">Horse Performance</p>
            <p style="display: inline;" *ngFor="let training of horse?.trainingsData;">
              {{training?.horse_performance}}</p></div>
          <div><p style="display: inline;">Rider Performance</p>
            <p style="display: inline;" *ngFor="let training of horse?.trainingsData;">
              {{training?.rider_performance}}</p></div>
          <div id="GaitContainer">
            <p style="display: inline;">Gait</p>
            <div *ngFor="let training of horse?.trainingsData; let trainingIndex = index" style="display:inline-flex;">
              <div *ngIf="!isLoading" class="container-fluid" style="display:inline;">
                <canvas style="display: inline;" baseChart width="100" height="70"
                        [datasets]="[{data: [training?.canter?.time.toFixed(1), training?.trot?.time.toFixed(1), training?.walk?.time.toFixed(1)]}]"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [colors]="barChartColors"
                        [chartType]="barChartType">
                </canvas>
              </div>
            </div>
          </div>
          <div id="TurnsContainer">
            <p style="display: inline;">Turns</p>
            <div *ngFor="let training of horse?.trainingsData; let trainingIndex = index" style="display:inline-flex;">
              <div *ngIf="!isLoading" class="container-fluid" style="display:inline;">
                <canvas style="display:inline;" baseChart width="150" height="50"
                        [datasets]="[{data: [training?.turns?.leftTotal, training?.turns?.rightTotal],label: ['Left Turns', 'Right Turns']}]"
                        [labels]="pieChartLabels"
                        [options]="pieChartOptions"
                        [colors]="pieChartColors"
                        [chartType]="pieChartType"
                ></canvas>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>

