<title>Equilab | My Stable</title>

<div class="container">
  <div class="wrapper">

    <div id="page-wrapper" [@slideToLeft]="'true'">
      <h1> My Stable Page </h1>
      <div style="display: block" *ngFor="let horse of myPonnys; let i = index">
        <h4 [attr.data-target]="'#'+i" data-toggle="collapse" class="rowsPadding">{{horse?.name}}</h4>
        <div class="collapse" [attr.id]="i" style="">
          <div *ngIf="i>0"> NO DATA TO SHOW AT THIS TIME</div>
          <div class="rTable">
            <div class="rTableRow">
              <div class="rTableHead"  *ngFor="let training of horse?.trainingsData;"><strong> {{ training?.date | date:'MMM d EEEE' }}</strong></div>
            </div>
            <div class="rTableRow">
              <div class="rTableCell" *ngFor="let training of horse?.trainingsData;">{{training?.ground}}</div>
            </div>
            <div class="rTableRow">
              <div class="rTableCell" *ngFor="let training of horse?.trainingsData;">{{training?.total.time | secondsToTime}}</div>
            </div>
            <div class="rTableRow">
              <div class="rTableCell" *ngFor="let training of horse?.trainingsData;">{{training?.total.distance | distance}}</div>
            </div>
            <div class="rTableRow">
              <div class="rTableCell" *ngFor="let training of horse?.trainingsData;"> {{training?.horse_performance}}</div>
            </div>
            <div class="rTableRow">
              <div class="rTableCell" *ngFor="let training of horse?.trainingsData;">  {{training?.rider_performance}}</div>
            </div>
            <div class="rTableRow">
              <div id="GaitContainer" class="rTableCell" *ngFor="let training of horse?.trainingsData; let trainingIndex = index">
                  <div *ngIf="!isLoading" class="container-fluid">
                    <canvas  style="display: inline;" baseChart width="100" height="70"
                             [datasets]="[{data: [training?.canter?.time.toFixed(1), training?.trot?.time.toFixed(1), training?.walk?.time.toFixed(1)]}]"
                             [labels]="barChartLabels"
                             [options]="barChartOptions"
                             [colors]="barChartColors"
                             [chartType]="barChartType">
                    </canvas>
                  </div>
                </div>
            </div>
            <div class="rTableRow">
              <div id="TurnsContainer" class="rTableCell" *ngFor="let training of horse?.trainingsData; let trainingIndex = index">
                <div  style="display:inline-flex;">
                  <div *ngIf="!isLoading" class="container-fluid">
                    <canvas style="display:inline;" baseChart width="150" height="50"
                            [datasets]="[{data: [training?.turns?.leftTotal, training?.turns?.rightTotal],label: ['Left Turns', 'Right Turns']}]"
                            [labels]="pieChartLabels"
                            [options]="pieChartOptions"
                            [colors]="pieChartColors"
                            [chartType]="pieChartType"
                    ></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

